canvas {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute !important;
}

#top {
    z-index: 1;
}

.top__title {
    border: 3px solid #fff799;
    height: 80vh;
    margin: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top__title p {
    color: #ff89c7;
    margin-bottom: 0;
    font-size: 2rem;
}

@media (max-width:425px) {
    #top {
        width: 80vw;
        margin: 2rem auto;
        margin-bottom: 7.5rem;
    }
    .top__title {
        margin: 0 auto;
        width: 100%;
    }
    #top h1 {
        padding: 0 1rem;
    }
}
