.works__single {
    width: 80vw;
    margin: 0 auto;
}

.works__single h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.works__single h3::before {
    content: '●';
    color: #ff89c7;
    margin-right: 0.5rem;
}

.works__single a {
    color: #ff89c7;
}

.works__single a:hover {
    text-decoration: underline;
}

.works__single--img img {
    width: 100%;
}

.works__single--txts {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0.83em auto;
}

.works__single--txt {
    width: 35vw;
    text-align: left;
}

@media (max-width:425px) {
    .works__single {
        margin-top: 6.5rem;
    }

    .works__single h2 {
        font-size: 1.5rem;
    }

    .works__single--txts {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .works__single--txt {
        width: 100%;
    }
}
