.works__back {
    color: #ff89c7;
    border: 3px solid #ff89c7;
    background-color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 3rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 2.5rem;
    left: 2.5rem;
    padding: 0.25rem 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.works__back i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.works__back:hover,
.works__back:active {
    background-color: #ff89c7;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#works {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.works__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.works__contents--column {
    border-radius: 4px;
    width: 20rem;
    margin: 0.5rem 0.5rem 0.5rem;
    text-align: left;
    -webkit-box-shadow: 1px 2px 6px #ccc;
    box-shadow: 1px 2px 6px #ccc;
    color: #333;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.works__contents--img img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 13.5rem;
    background-color: #ff89c7;
    -o-object-fit: cover;
    object-fit: cover;
}

.works__contents a {
    color: #ff89c7;
    text-decoration: none;
}

.works__contents a:hover {
    text-decoration: underline;
}

.works__contents--txt {
    font-size: 0.9rem;
    padding: 1rem;
}

.works__contents--txt h3 {
    color: #ff89c7;
    margin: 0.25rem 0;
}

.works__contents--about {
    display: block;
    height: 8rem;
}

.works__contents--more {
    color: #ff89c7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 100%;
    padding: 1rem 0 0.25rem;
    border-top: 1px solid #ddd;
}

.works__more {
    color: #ff89c7;
    border: 3px solid #ff89c7;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 2rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: block;
    padding: 1rem;
    width: 24vw;
    margin: 1rem auto 0;
}

.works__more:hover {
    background-color: #ff89c7;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

@media (max-width:768px) {
    .works__contents--img img {
        height: 9.5rem;
    }
    .works__contents--about {
        font-size: 0.75rem;
    }
}

@media (max-width:425px) {
    h2 {
        margin-top: 7rem;
    }

    .works__contents--img img {
        height: 14rem;
    }
    .works__contents {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .works__more {
        width: auto;
    }

    .works__contents--column {
        margin: 0.5rem auto 1rem;
        width: 80vw;
    }
}
